/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  width: 400px;
  height: 35px;
} */

button,
select {
  background: none;
  border: none;
  margin: none;
  color: inherit;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.logo {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

.title {
  margin: 50px;
}

body {
  font-size: large;
}

.list-header, .list-footer, button {
  font-weight: 900;
}

.list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
}